@import "tailwindcss";

@theme {

  /* Background color start here */
  --color-navbar-100: #040b14;
  --color-white-100: #ffffff;
  --color-blue-100: #149ddd;

  /* Font color start here */
  --color-text-100: #ffffff;

  /* Border color */
  --color-border-100: #292f37;

  /* Font Style start here */
  --font-mono: "Montserrat", "sans-serif";
  --font-poppins: "Open Sans", "sans-serif";
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}